.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auto-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}





.pos-rel {
  position: relative;
}



.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:black;
  
}

.option,
span {
  
  background-color: white;
}
.option,
p {
  
 color:black;
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}